@model Product
<h3 class="text-primary text-center">Add product</h3>


<form method="post">
    <label asp-for="Name" class="form-label "></label>
    <span asp-validation-for="Name" class="text-danger"></span>
    <input type="text" class="form-control m-3" asp-for="Name" />

    <label asp-for="Price" class="form-label"></label>
    <span asp-validation-for="Price" class="text-danger"></span>
    <input type="text" class="form-control m-3" asp-for="Price" />


    <div class="form-group mb-2">
        <label class="form-label mt-4">Select Category</label>
            <select asp-for="CategoryId" class="form-select" id="exampleSelect1">
                @foreach (Category category in ViewBag.Categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
    </div>



    <button type="submit" class="btn btn-primary">Add</button>
</form>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}