@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-primary">Welcome</h1>
    <p>~ We are very awesome at products :) ~</p>
</div>

<div class="container border-2">
    <p>
        Once upon a time ther was one giant store at a streeet in smaland, sweden. It had it all. 
        Little did the owner know that one day it would become a global online store for everyone with money.
        <br />
        <br />
        And now here we are... The most advanced and awesome webshop that have ever seen by an ethernet cable!  
        Our products dont make sense what so ever. Everything you can think of is here. Clothing and food. Sport gear and bathroom interior.
        Everything! Exept stuff that is of good quality. Its more of an one time use store. Our clothes will fall apart completly in the first wash. So 
        if you use to wash your clothes before first use, there is like flushing your money down the toilet. BUT DONT do that, give them to me and then you can
        flush your clothes instead.
        <br />
        <br />
        We have no what so ever discounts becouse:
        ...WE'RE IN SMALAND YOU DUMMY!! There is no such thing as reduced price. Instead, we keep our price low and affordible from the beginning. 
        All you need to know is in the brouschyr we will send you on email every five minuts. Remeber to never complain and we will be friends forever(heart-smiley)... 
        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti 
        atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique 
        sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum 
        facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo 
        minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem 
        quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae 
        non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur 
        aut perferendis doloribus asperiores repellat.
        <br /> 
        <br />
        So whatever you now are thinking, thats wrong and We are right. Welcome to spend money. Remember! NO discount! NEVER!!!! I dont like that word.
    </p>
</div>
